nav {
  font-family: "courier", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  position: fixed;
}

nav a,
nav a:visited {
  color: #f0f8ff;
  display: block;
  margin: 10px 20px 0;
  text-decoration: none;
  text-shadow: 2px 2px #8e7272;
}

nav a.active {
  text-decoration: none;
}
